*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  margin: 0; 
  background: linear-gradient(90deg, #64c8ee, #662f8f) ;

}

.heading-primary {
    font-size: 6rem;
    color: white;
}

.heading-secondary {
    font-size: 3rem;
}

.heading-quarternary {
  font-size: 1.5rem;
}

.navigation {
    width: 100vw;
    display: flex ;
    justify-content: center;
    position: fixed;
    background-color: black;
    height: 7rem;
    
}

.logo {
    width: 5rem;
    padding: 2rem 0;
}

.section__hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section__hero--container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.cards {
    display: flex;
    justify-content: space-around;
}

.section__hero--card {
    background-color: white;
    width: 13rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem 1rem;
    margin: 1rem;
    transition: all .3s;
    align-items: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.459);

}

.section__hero--card:hover {
    transform: scale(1.05);
}

.line {
    border: 1px solid black;
    margin-bottom: 2rem;
    width: 100%;
}

.face {
    width: 10rem;
    border-radius: 50%;
    object-position: cover;
}

.section__solution {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.459);



}

.section__solution--container {
  width: 70vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  overflow: hidden;

}

.deleted{
  filter: grayscale(100%);
  opacity: 50%;
}


.asiento,
.asiento--conductor{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-position: cover;
  margin-bottom: 1rem;
}

.asiento__fake {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.asiento__fake--p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #662f8f;

}

.top {
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.322);
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  flex-direction: column;

}

.top__top,
.top__bottom {
  display: flex;
  justify-content: center;
  padding: 2rem;

}

.top__top {
  justify-content: space-between;
}


.seats__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;

}

.seats__left,
.seats__right {
  display: flex;
  flex-direction: row;


}


.seats__left--left,
.seats__left--right,
.seats__right--left,
.seats__right--right {
  display: flex;
  flex-direction: column;
}

.seats__left--right {
  margin-right: 2rem;
}
.seats__right--left {
  margin-left: 2rem;
}

.enter {
  font-size: 2rem;
  background-color: #662f8f;
  color: white;
  padding: 1rem 4rem;
  border-radius: 100rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.219);
  transition: all .2s ease;
  border: none;
}

.enter:hover {
  transform: scale(1.05) translateY(-.2rem);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.459);
}

.leyenda {
  position: absolute;
  left: 2rem;
  top: 2rem;
  width: 20rem;
  background-color:#64c8ee;
  border-radius: 10px;
  padding-left: 1rem;
  color: #662f8f;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.300);
  text-align: center;
  justify-content: center;

}

