*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  margin: 0; 
}

.heading-primary {
    font-size: 6rem;
    color: white;
}

.heading-secondary {
    font-size: 3rem;
}

.navigation {
    width: 100vw;
    display: flex ;
    justify-content: space-between;
    position: fixed;
    background-color: black;
    
}

.logo {
    width: 5rem;
}

.section__hero {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #64c8ee, #662f8f) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section__hero--container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.cards {
    display: flex;
    justify-content: space-around;
}

.section__hero--card {
    background-color: white;
    width: 13rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem 1rem;
    margin: 1rem;
    transition: all .3s;
    align-items: center;
}

.section__hero--card:hover {
    transform: scale(1.05);
}

.line {
    border: 1px solid black;
    margin-bottom: 2rem;
    width: 100%;
}

.face {
    width: 10rem;
    border-radius: 50%;
    object-position: cover;
}
